@model MusicApp.Models.Album
@{
    ViewData["Title"] = "Details";
}
<h2>Details</h2>

<br />
<br />
<div>
    <input type="hidden" asp-for="AlbumID" />
    Title: @Model.Title<br />
    Artist: @Model.Artist.Name<br />
    Artist Bio: @Model.Artist.Bio<br />
    Genre: @Model.Genre.Name<br />
    Likes: @Model.Like<br />
    Price: @Model.Price
    <br />
    <br />
</div>
<div>
    <a class="btn btn-info" asp-action="Edit" asp-route-id="@Model.AlbumID">Edit</a>
    <a class="btn btn-default" asp-action="Index">Back to List</a>
</div>