@model IEnumerable<MusicApp.Models.Album>
@{
    ViewData["Title"] = "Albums";
}
<h2>Album List</h2>
<a class="btn btn-default" asp-action="Create">Add Album</a>
<a class="btn btn-default" asp-action="Delete">Delete Album</a>
<hr />
<table class="table">
    <thead>
        <tr>
            <th>Title</th>
            <th>Artist</th>
            <th>Genre</th>
            <th>Price</th>
        </tr>
    </thead>
    @foreach (var album in Model)
    {
        <tr>
            <td>@album.Title</td>
            <td>@album.Artist.Name</td>
            <td>@album.Genre.Name</td>
            <td>@album.Price</td>
            <td>
                <a class="btn btn-default" asp-action="Details" asp-route-id="@album.AlbumID">Details</a>
                <a class="btn btn-default" asp-action="Edit" asp-route-id="@album.AlbumID">Edit</a>
            </td>
        </tr>
    }
    </table>

