@model IEnumerable<MusicApp.Models.Album>
@{
    ViewData["Title"] = "Albums";
}
<h2>Album List</h2>
<a class="btn btn-success" asp-action="Create">Add an Album</a><br />
<form class="form-inline" method="get">
    <div class="form-group">
        <input type="text" name="SearchString" />
    </div>
    <button class="btn btn-info btn-sm" type="submit" value="Filter">Search</button>
    <button class="btn btn-info btn-sm" type="submit" value="Filter">View All</button>
</form>
<table class="table">
    <thead>
        <tr>
            <th><a asp-action="Index" asp-route-searchString="@ViewBag.searchString" asp-route-sortOrder="@ViewBag.TitleSortParm">Title</a></th>
            <th><a asp-action="Index" asp-route-searchString="@ViewBag.searchString" asp-route-sortOrder="@ViewBag.ArtistSortParm">Artist</a></th>
            <th><a asp-action="Index" asp-route-searchString="@ViewBag.searchString" asp-route-sortOrder="@ViewBag.GenreSortParm">Genre</a></th>
            <th><a asp-action="Index" asp-route-searchString="@ViewBag.searchString" asp-route-sortOrder="@ViewBag.PriceSortParm">Price</a></th>
            <th><a asp-action="Index" asp-route-searchString="@ViewBag.searchString" asp-route-sortOrder="@ViewBag.LikeSortParm">Like</a></th>
        </tr>
    </thead>
    @foreach (var album in Model)
    {
        <tr>
            <td>@album.Title</td>
            <td>@album.Artist.Name</td>
            <td>@album.Genre.Name</td>
            <td>@album.Price</td>
            <td>@album.Like</td>
            <td>
                <a class="btn btn-default" asp-action="Likes" asp-route-id="@album.AlbumID">Like</a>
                <a class="btn btn-default" asp-action="Playlist" asp-route-id="@album.AlbumID">Playlist+</a>
                <a class="btn btn-default" asp-action="Details" asp-route-id="@album.AlbumID">Details</a>
                <a class="btn btn-default" asp-action="Edit" asp-route-id="@album.AlbumID">Edit</a>
                <a class="btn btn-default" asp-action="Delete" asp-route-id="@album.AlbumID">Delete</a>
            </td>
        </tr>
    }
    </table>

