@model MusicApp.Models.Artist

@{
    ViewData["Title"] = "Edit";
}
<br />
<br />
<form asp-action="Edit" method="post">
    <div class="form-group">
        Artist: <input asp-for="Name" value="@Model.Name" /><br />
        <span asp-validation-for="Name" class="text-danger"></span><br />
        Bio: <input asp-for="Bio" value="@Model.Bio" /><br />
        <input type="submit" value="Submit" />
    </div>
    <div class="form-group">
        <a class="btn btn-default" asp-action="Index">Back to List</a>
    </div>
</form>
@*<br />
<br />
<form asp-action="Edit" method="post">
    <div class="form-group">
        <input asp-for="ArtistID" type="hidden" value="@Model.ArtistID" />
        Artist: <input asp-for="Name" value="@Model.Name" /><br />
        <span asp-validation-for="Name" class="text-danger"></span><br />
        Bio: <input asp-for="Bio" value="@Model.Name" /><br />
        <input type="submit" value="Create Artist" />
    </div>
    <div class="form-group">
        <a class="btn btn-default" asp-action="Index">Back to List</a>
    </div>
</form>*@