@using Microsoft.AspNetCore.Identity
@using MusicApp.Models

@model IEnumerable<MusicApp.Models.Playlist>
@{ 
    ViewData["Title"] = "Playlists";
}

<h3>Playlists for: @ViewBag.User.UserName<br /> (member since @ViewBag.User.DateJoined.ToString("MMM dd, yyyy"))</h3>
<a class="btn btn-success" asp-action="Create">Create New Playlist</a><br />
<hr />
<table class="table">
    <thead>
        <tr>
            <th>Name</th>
        </tr>
    </thead>
    @foreach (var playlist in Model)
        {
            <tr>
                <td><a asp-action="Details" asp-route-id="@playlist.PlaylistID">@playlist.Name</a></td>
                <td>
                    <a class="btn btn-default" asp-action="Edit" asp-route-id="@playlist.PlaylistID">Rename</a>
                    <a class="btn btn-default" asp-action="Delete" asp-route-id="@playlist.PlaylistID">Delete</a>
                </td>
            </tr>
        }
</table>

